<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pie</title>
    <link type="text/css" rel="stylesheet" href="../stylesheets/pie.css">
</head>
<body>
    <div class="pie-container">
        <div class="back-bg"></div>
        <div class="front-bg">45%</div>
        <div class="pie">
            <div class="pie-inner-container"></div>
            <div class="pie-circle1"></div>
            <div class="pie-circle2"></div>
        </div>
        <div class="mask1">
            <div class="mask1-inner-container"></div>
            <div class="mask1-circle1"></div>
            <div class="mask1-circle2"></div>
        </div>
    </div>
</body>
</html>