<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pipe</title>
    <link type="text/css" rel="stylesheet" href="../stylesheets/pipe.css">
</head>
<body>
    <div class="pipe-container">
        <div class="back-bg"></div>
        <div class="front-bg">45%</div>
        <div class="pipe">
            <div class="pipe-inner-container"></div>
            <div class="pipe-circle1"></div>
            <div class="pipe-circle2"></div>
        </div>
        <div class="mask1">
            <div class="mask1-inner-container"></div>
            <div class="mask1-circle1"></div>
            <div class="mask1-circle2"></div>
        </div>
    </div>
</body>
</html>